<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de curso</title>
</head>
<body>
    <header><h1>Editar Processo</h1></header>
<main>
    {% if messages %}
        <ul style="color: red;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <br>
        <label for="campo_data_inicio">Data de ínicio:</label>
        <input type="date" name="data_inicio" id="campo_data_inicio" value="{{ processo.data_inicio }}" placeholder="Digite a data de ínicio do processo">
        <br>
        <label for="campo_data_fim">Data do fim:</label>
        <input type="date" name="data_fim" id="campo_data_fim" value="{{ processo.data_fim }}" placeholder="Digite a data final do projeto">
        <br>
        <label for="campo_max_participantes">Número de participantes:</label>
        <input type="text" name="max_participantes" id="campo_max_participantes" value="{{ processo.max_participantes }}" placeholder="Digite o número de participantes">
        <br>
        <button type="submit">Salvar</button>
    </form>
    <br>
    <!-- Botão para voltar à página de visualização de objetivos -->
    <a href="{% url 'visualizar_processo' %}" style="text-decoration: none; border: 1px solid black; padding: 5px; background-color: lightgray;">Voltar</a>
</main>
</body>
</html>