<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div style="color: green;">{{ message }}</div>
                {% elif message.tags == "error" %}
                    <div style="color: red;">{{ message }}</div>
                {% else %}
                    <div>{{ message }}</div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <h1>PAGINA DO PROFESSOR</h1>
    <p>Nome do curso: {{ curso }}</p>
    <a href="{% url 'visualizar_alunos_prof' curso %}">Visualizar alunos</a>
    <a href="{% url 'gerenciamento_acad' curso %}">Gerenciamento acadêmico</a>

</body>
</html>