<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'criar_contas' %}">Criar contas</a>
    <a href="{% url 'inicio_painel' %}">Voltar</a>
    {% for conta in contas %}
            <p>Nome usuário: {{ conta.Username }}</p>
            <p>Email: {{ conta.E_mail }}</p>
            <p>Tipo de conta: {{ conta.Tipos_conta }}</p>

            <form method="POST" action="{% url 'deletar_contas' conta.id %}"  onsubmit="return confirm('Você tem certeza que deseja deletar essa conta? Esse processo não poderá ser revertido')">
                {% csrf_token %}
                <button type="submit">Deletar</button>
            </form>
            <a href="{% url 'editar_contas' conta.id %}">Alterar</a>
    {% endfor %}
</body>
</html>